<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../Assets/img/favicon.ico">
    <title>Resolana Ecuestre</title>
</head>
<body>
    <header class="navback">
        <div id="top">
            <h1 class="titulo"><img class="logo" src="../Assets/img/logoderesolana.jpg" alt=""> Resolana Ecuestre</h1>
            </div> 
        <nav>
            <div>
            </div>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="item"><a href="../views/eventos.html">Eventos</a>
                <ul class="submenu1">
                    <li class="sub_i1"><a href="../views/eventos.html">Jineteadas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Destresas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Fiestas</a></li>
                </li> 
                </ul>
                <li class="item"><a href="../views/actividades.html">Actividades</a>
                <ul class="submenu2">
                    <li class="sub_i2"><a href="../views/actividades.html">Cabalgatas guiadas</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Paseos a caballo</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Tarde de granja</a></li>
                </li>
                </ul>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section3">
            <h3>Nuestras Actividades</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, nam? Labore doloribus iusto culpa, blanditiis, ut hic vitae sequi consequuntur exercitationem, repudiandae nisi dolore veniam ipsum fuga laborum possimus totam?</p>
            <!--Colocar imagenes sobre paseos-->
        </section>
    </main>
    <footer>
        <h5>Todos los derechos reservados R®</h5>
        <div class="redes">
            <a href="https://www.facebook.com/Resolanaecuestre" target="_blank">
                <img class="facebook" width="40px" src="../Assets/img/Facebook_f_logo_(2019).svg.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/resolana_ecuestre/" target="_blank">
                <img class="instagram" width="40px" src="../Assets/img/logo instagram.jpg" alt="instagram">
            </a>
            <a href="https://wa.me/542984306508" target="_blank">
                <img class="whatsapp" width="40px" src="../Assets/img/WhatsApp.svg.jpg" alt="WhatsApp">
            </a>
        <a href="#top"><h5>Ir al Top</h5></a>
    </footer>
    
</body>
</html>