<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolana Ecuestre</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="icon" href="../Assets/img/favicon.ico">
</head>
<body>
    <header class="navback">
        <div id="top">
        <h1 class="titulo">Resolana Ecuestre</h1>
        <img class="logo" src="../Assets/img/logoderesolana.jpg" alt="logo">
        </div> 
        <nav>
            <div>
            </div>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="item"><a href="../views/eventos.html">Eventos</a>
                <ul class="submenu1">
                    <li class="sub_i1"><a href="../views/eventos.html">Jineteadas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Destresas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Fiestas</a></li>
                </li> 
                </ul>
                <li class="item"><a href="../views/actividades.html">Actividades</a>
                <ul class="submenu2">
                    <li class="sub_i2"><a href="../views/actividades.html">Cabalgatas guiadas</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Paseos a caballo</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Tarde de granja</a></li>
                </li>
                </ul>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Pagina de Contacto</h2>
        <form class="form-register">
            <h4>Ayuda</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingresar nombres" required>
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingresar apellidos" required>
            <input class="controls"  type="email" name="correo" id="correo" placeholder="Ingresar correo" required>
            <textarea class="controls" name="consulta" id="" cols="30" rows="10" placeholder="Escribe tu consulta"></textarea>
            <input class="bottom" type="submit" value="Enviar datos">
        </form>       
    </main>
    <br>
    <footer>
        <h5>Todos los derechos reservados R®</h5>
        <a href="#top">
			<h5>Ir al Top</h5>
		</a>
    </footer>
    
</body>
</html>