<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolana Ecuestre</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">  
    <link rel="icon" href="../Assets/img/favicon.ico">
</head>
<body>
    <header class="navback">
        <div id="top">
            <h1 class="titulo"><img class="logo" src="./Assets/img/logoderesolana.jpg" alt=""> Resolana Ecuestre</h1>
            </div>
        <nav>
            <div>
            </div>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="item"><a href="../views/eventos.html">Eventos</a>
                <ul class="submenu1">
                    <li class="sub_i1"><a href="../views/eventos.html">Jineteadas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Destresas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Fiestas</a></li>
                </li> 
                </ul>
                <li class="item"><a href="../views/actividades.html">Actividades</a>
                <ul class="submenu2">
                    <li class="sub_i2"><a href="../views/actividades.html">Cabalgatas guiadas</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Paseos a caballo</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Tarde de granja</a></li>
                </li>
                </ul>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section2">
            <h3>Eventos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet provident possimus distinctio enim nemo, placeat animi quidem molestiae consectetur eaque tempora modi repudiandae id deserunt. Repellat saepe et cumque dolores natus officiis est, consectetur autem. Vero dignissimos unde architecto consequuntur quidem, sint debitis corporis suscipit provident velit dolor nobis facere perferendis possimus voluptates inventore reiciendis incidunt quos maxime repudiandae cupiditate ut harum saepe? Unde quam architecto nostrum distinctio neque laborum quidem repudiandae praesentium fugiat placeat expedita at non, pariatur laboriosam consequuntur libero voluptatum labore incidunt veniam obcaecati veritatis? Atque accusantium tempora corporis aliquam molestias aut et inventore tenetur obcaecati? Fugit.</p>
        </section>
        <section><!--aca van imagenes de eventos-->
            <div id="carouselExampleIndicators" class="carousel slide w-50 mx-auto" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../Assets/img/inauguracion resolana/foto.jpg" class="d-block w-100" alt="foto">
                  </div>
                  <div class="carousel-item">
                    <img src="../Assets/img/inauguracion resolana/foto1.jpg" class="d-block w-100" alt="foto">
                  </div>
                  <div class="carousel-item">
                    <img src="../Assets/img/inauguracion resolana/foto2.jpg" class="d-block w-100" alt="foto">
                  </div>
                  <div class="carousel-item">
                    <img src="../Assets/img/inauguracion resolana/foto3.jpg" class="d-block w-100" alt="foto">
                  </div>
                  <div class="carousel-item">
                    <img src="../Assets/img/inauguracion resolana/foto4.jpg" class="d-block w-100" alt="foto">
                  </div>
                  <div class="carousel-item">
                    <img src="../Assets/img/inauguracion resolana/foto5.jpg" class="d-block w-100" alt="foto">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
    </main>
   
    <footer>
        <h5>Todos los derechos reservados R®</h5>
        <div class="redes">
            <a href="https://www.facebook.com/Resolanaecuestre" target="_blank">
                <img class="facebook" width="40px" src="../Assets/img/Facebook_f_logo_(2019).svg.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/resolana_ecuestre/" target="_blank">
                <img class="instagram" width="40px" src="../Assets/img/logo instagram.jpg" alt="instagram">
            </a>
            <a href="https://wa.me/542984306508" target="_blank">
                <img class="whatsapp" width="40px" src="../Assets/img/WhatsApp.svg.jpg" alt="WhatsApp">
            </a>
        <a href="#top"><h5>Ir al Top</h5></a>
    </footer>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="../js/bootstrap.js"></script>
</body>
</html>