<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolana Ecuestre</title>
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="icon" href="../Assets/img/favicon.ico">
</head>
<body>
    <header class="navback">
        <div id="top">
        <h1 class="titulo">Resolana Ecuestre</h1>
        <img class="logo" src="../Assets/img/logoderesolana.jpg" alt="logo">
        </div> 
        <nav>
            <div>
            </div>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="item"><a href="../views/eventos.html">Eventos</a>
                <ul class="submenu1">
                    <li class="sub_i1"><a href="../views/eventos.html">Jineteadas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Destresas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Fiestas</a></li>
                </li> 
                </ul>
                <li class="item"><a href="../views/actividades.html">Actividades</a>
                <ul class="submenu2">
                    <li class="sub_i2"><a href="../views/actividades.html">Cabalgatas guiadas</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Paseos a caballo</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Tarde de granja</a></li>
                </li>
                </ul>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section1">
            <h2>Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt repudiandae provident vero ratione adipisci facilis enim quidem! Cum expedita ut qui ex reiciendis voluptas id optio quasi architecto sunt, error commodi tenetur fugit maiores odio non ullam aliquid a facere. Vitae possimus maxime, iusto consectetur natus sunt, optio unde vero voluptatibus autem, laborum officia! Soluta asperiores similique eligendi quibusdam sed aliquid exercitationem maiores provident accusamus assumenda. Nisi at doloremque eveniet consectetur saepe maiores voluptatibus reprehenderit exercitationem rem nobis ex, amet recusandae assumenda minus. Fuga molestiae consequatur asperiores, nam, voluptatem temporibus delectus esse nostrum aliquam quod suscipit fugiat eaque tempore.        
        </p>
        </section>      
    </main>
    <footer>
        <h5>Todos los derechos reservados R®</h5>
        <a href="#top">
			<h5>Ir al Top</h5>
		</a>
    </footer>
    
</body>
</html>