<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Resolana Ecuestre</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="icon" href="../Assets/img/favicon.ico">
</head>
<body>
    <header class="navback">
        <div id="top">
            <a href="../index.html"><h1 class="titulo"><img class="logo" src="../Assets/img/logoderesolana.jpg" alt=""> Resolana Ecuestre</h1></a>
            </div>> 
        <nav>
            <div>
            </div>
            <ul class="menu">
                <img class="perfil" width="60px" src="../Assets/img/5987462.png" alt="perfil">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="item"><a href="../views/eventos.html">Eventos</a>
                <ul class="submenu1">
                    <li class="sub_i1"><a href="../views/eventos.html">Jineteadas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Destresas</a></li>
                    <li class="sub_i1"><a href="../views/eventos.html">Fiestas</a></li>
                </li> 
                </ul>
                <li class="item"><a href="../views/actividades.html">Actividades</a>
                <ul class="submenu2">
                    <li class="sub_i2"><a href="../views/actividades.html">Cabalgatas guiadas</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Paseos a caballo</a></li>
                    <li class="sub_i2"><a href="../views/actividades.html">Tarde de granja</a></li>
                </li>
                </ul>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section1">
            <h3>Nosotros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt repudiandae provident vero ratione adipisci facilis enim quidem! Cum expedita ut qui ex reiciendis voluptas id optio quasi architecto sunt, error commodi tenetur fugit maiores odio non ullam aliquid a facere. Vitae possimus maxime, iusto consectetur natus sunt, optio unde vero voluptatibus autem, laborum officia! Soluta asperiores similique eligendi quibusdam sed aliquid exercitationem maiores provident accusamus assumenda. Nisi at doloremque eveniet consectetur saepe maiores voluptatibus reprehenderit exercitationem rem nobis ex, amet recusandae assumenda minus. Fuga molestiae consequatur asperiores, nam, voluptatem temporibus delectus esse nostrum aliquam quod suscipit fugiat eaque tempore.        
        </p>
        </section>
        <section>
            <section class="section1">
                <h3>Nosotros</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt repudiandae provident vero ratione adipisci facilis enim quidem! Cum expedita ut qui ex reiciendis voluptas id optio quasi architecto sunt, error commodi tenetur fugit maiores odio non ullam aliquid a facere. Vitae possimus maxime, iusto consectetur natus sunt, optio unde vero voluptatibus autem, laborum officia! Soluta asperiores similique eligendi quibusdam sed aliquid exercitationem maiores provident accusamus assumenda. Nisi at doloremque eveniet consectetur saepe maiores voluptatibus reprehenderit exercitationem rem nobis ex, amet recusandae assumenda minus. Fuga molestiae consequatur asperiores, nam, voluptatem temporibus delectus esse nostrum aliquam quod suscipit fugiat eaque tempore.        
            </p>
        </section>
        <section class="imagenes">
            <div class="container text-center">
                <div class="row row-cols-2">
                
                    <div data-aos="fade-right" class="colf1"><img class="desplegue" width="500px" src="../Assets/img/fotos resolana/foto1.jpg" alt=""></div>
                  <div data-aos="fade-left" class="col1"><p>Si se preguntan quién está detrás de Resolana,quien la deseo y hoy la está manifestando, se los presentamos: El es Ariel Piñeiro criado en Jj.Gomez, con un padre que desde sus seis años lo sumergió en el mundo ganadero , y así fue que Ariel se convirtió en un fanático de los caballos y la vida de campo.</p></div>
                  
                  
                  <div data-aos="fade-right" class="col2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatibus ut doloremque est tempore at eveniet, voluptatum omnis? Quaerat perferendis totam architecto inventore nobis enim quam eveniet nihil culpa adipisci!</p></div>
                  <div data-aos="fade-left" class="colf2"><img width="500px" src="../Assets/img/fotos resolana/foto2.jpg" alt=""></div>


                  <div data-aos="fade-right" class="colf3"><img width="500px" src="../Assets/img/fotos resolana/foto3.jpg" alt=""></div>
                  <div data-aos="fade-left" class="col3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ratione qui officia velit. Eum, doloribus similique at non porro repellendus, pariatur tempora rem magnam architecto veritatis suscipit recusandae obcaecati ducimus?</p></div>


                  <div data-aos="fade-right" class="col4"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur iste nulla quisquam laboriosam repellendus, corrupti vitae sunt voluptas amet? Adipisci, deserunt fugiat! Adipisci consequatur, porro autem placeat eaque error deserunt?</p></div>
                  <div data-aos="fade-left"  class="colf4"><img width="500px" src="../Assets/img/fotos resolana/foto4.jpg" alt=""></div>

                </div>
              </div>
        </section>
    </main>
    <footer>
        <h5>Todos los derechos reservados R®</h5>
        <div class="redes">
            <a href="https://www.facebook.com/Resolanaecuestre" target="_blank">
                <img class="facebook" width="40px" src="../Assets/img/Facebook_f_logo_(2019).svg.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/resolana_ecuestre/" target="_blank">
                <img class="instagram" width="40px" src="../Assets/img/logo instagram.jpg" alt="instagram">
            </a>
            <a href="https://wa.me/542984306508" target="_blank">
                <img class="whatsapp" width="40px" src="../Assets/img/WhatsApp.svg.jpg" alt="WhatsApp">
            </a>
        <a href="#top"><h5>Ir al Top</h5></a>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>