<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Resolana Ecuestre</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="icon" href="../Assets/img/favicon.ico">
</head>
<body>
    <header class="navback">
        <div id="top">
            <a href="../index.html"><h1 class="titulo"><img class="logo" src="../Assets/img/logoderesolana.jpg" alt=""> Resolana Ecuestre</h1></a>
            </div>> 
            <nav>
                <ul class="menu">               
                    <li class="item"><a href="../index.html">Inicio</a></li>
                    <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
                    <li class="item"><a href="../views/eventos.html">Eventos</a>
                    <ul class="submenu1">
                        <li class="sub_i1"><a href="../views/eventos.html">Jineteadas</a></li>
                        <li class="sub_i1"><a href="../views/eventos.html">La Destresa</a></li>
                        <li class="sub_i1"><a href="../views/eventos.html">Salon de eventos</a></li>
                    </li>
                    </ul>
                    <li class="item"><a href="../views/actividades.html">Actividades</a>
                    <ul class="submenu2">
                        <li class="sub_i2"><a href="../views/actividades.html">Cabalgatas guiadas</a></li>
                        <li class="sub_i2"><a href="../views/actividades.html">Paseos a caballo</a></li>
                        <li class="sub_i2"><a href="../views/actividades.html">Tarde de granja</a></li>
                    </li>
                    </ul>
                    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
    </header>
    <main>          
        <section class="section1">
            <h3>Sobre Nosotros</h3>
            <div class="container text-center">
                <div class="row row-cols-1">               
                    <div>
                        <div data-aos="fade-left" ><img class="fotos" width="650px" src="../Assets/img/fotos resolana/foto4.jpg" alt="foto de ariel piñeiro"></div><div data-aos="fade-right" class="col 4"></div>
                        <br>
                        <p class="texto" align="center">Si se preguntan quién está detrás de Resolana,quien la deseo y hoy la está manifestando, se los presentamos: El es Ariel Piñeiro criado en Jj.Gomez, con un padre que desde sus seis años lo sumergió en el mundo ganadero , y así fue que Ariel se convirtió en un fanático de los caballos y la vida de campo.</p>
                    </div>
                    <br>   
                    <div>
                        <div data-aos="fade-left"><img class="fotos" width="650px" src="../Assets/img/fotos resolana/foto2.jpg" alt="foto de ariel, javier y jose"></div>
                        <div data-aos="fade-right" class="col 2"></div>
                        <br>
                        <p class="texto" align="center">Gracias al esfuerzo de unas amistades es que todo esto es posible hoy en dia, Javier Abelardo Neculman y Jose Luis Bras quienes ponen a disposición su tiempo para colaborar en el predio.
                        </p>
                    </div>
                    <br>
                    <div>
                        <div data-aos="fade-right"><img class="fotos" width="650px" src="../Assets/img/fotos resolana/foto1.jpg" alt="foto de ariel cebando mate"></div><div data-aos="fade-left" class="col 1"></div>
                            <br>
                        <p align="center">Poner la pava, preparar el mate. A lo lejos un trote conocido un trote amigo comienza a acercarse, y bajo la sombra del árbol en el medio de Resolana, este parece un domingo ideal.</p>
                    </div>       
                        <br>
                    <div>
                        <div data-aos="fade-right"><img class="fotos" width="650px" src="../Assets/img/fotos resolana/foto3.jpg" alt="foto de jose y javier"></div><div data-aos="fade-left" class="col 3"></div>
                        <br>
                        <p class="texto" align="center">Nada como estar juntos en una tarde a puro sol, junto amigos y familia veni a disfrutar las bellas tardes que acontecen en Resolana Ecuestre, sin duda una experiencia como ninguna</p>
                    </div>
                </div>
              </div>
        </section>
    </main>
    <footer>
        <h5>Todos los derechos reservados R®</h5>
        <div class="redes">
            <a href="https://www.facebook.com/Resolanaecuestre" target="_blank">
                <img class="facebook" width="40px" src="../Assets/img/Facebook_f_logo_(2019).svg.png" alt="logodefacebook">
            </a>
            <a href="https://www.instagram.com/resolana_ecuestre/" target="_blank">
                <img class="instagram" width="40px" src="../Assets/img/logo instagram.jpg" alt="logodeinstagram">
            </a>
            <a href="https://wa.me/542984306508" target="_blank">
                <img class="whatsapp" width="40px" src="../Assets/img/WhatsApp.svg.jpg" alt="logodeWhatsApp">
            </a>
        <a href="#top"><h5>Ir al Top</h5></a>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>